
body {
    background-image: url('/image/SLFWebsite_BlackGrid.png');
    background-repeat: repeat;
  }
.container {
    margin: auto;
}
.container-nav {
    background-color: rgb(160, 119, 58);
}

.text-first {
    color: rgb(238, 203, 156);
    text-align: center;
}
.text-second {
    color: rgb(238, 203, 156);
    text-align: center;
    margin-top: 100px;
}
.col-12 {
    color: rgb(238, 203, 156);
    text-align: center;
    margin-top: 150px;
}
.col-8 {
    color: rgb(238, 203, 156);
    margin-top: 15%;
}
.header {
    margin-top: 150px;
}
.logo {
    background-image: url('/image/icons8-sass.svg');
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.img1 {
    background-image: url('/image/photo_2024-03-02_23-28-53.jpg');
    background-size: 100%;
    width: 430px;
    height: 430px;
}
.img2 {
    background-image: url('/image/photo_2024-01-24_23-39-14.jpg');
    background-size: 100%;
    width: 510px;
    height: 630px;
    margin-left: 10px;
}
.opt {
    margin-top: 100px;
}
.title-photo{
    color: rgb(238, 203, 156);
    text-align: center;
}
.title-photo2{
    color: rgb(238, 203, 156);
    margin-left: 210px;
}
.col-5 {
    color: rgb(238, 203, 156);
    margin-left: 24%;
    margin-top: 50px;
}
.col-6 {
    color: rgb(238, 203, 156);
    text-align: center;
    margin-left: 50%;
    margin-top: 100px;
}
.col-9{
    width: 34%;
    text-align: center;
    margin-top: 300px;
    color: rgb(238, 203, 156);
}